/* header */

header {
    position: relative;
    width: 100%;
    background-color: var(--head-footer-color);
}
header > div {
    display: flex;
    justify-content: space-between;
}
header > div > div:first-child {
    padding: 2rem 6rem;
}
header > div > div:nth-child(2) {
    padding: 1rem 6rem;
}
header > div > div > a,
span {
    color: var(--main2-bg-color);
    font-size: 24px;
    font-family: 'GT America Standard';
}
header > div > div > a:first-child:hover {
    color: gray;
    transition: 0.2s;
}

header > div > div:nth-child(2) > button {
    border-radius: 8px;
    color: var(--main2-bg-color);
    font-size: 26px;
    font-family: 'GT America Standard', serif;
    margin-left: 15px;
    cursor: pointer;
}
header > div > div:nth-child(2) > button:first-child {
    background-color: #191a1b;
    border: 1px solid #fff;
    padding: 5px 25px;
    height: 50px;
}
header > div > div:nth-child(2) > button:nth-child(2) {
    background-color: var(--brand-btn-color);
    padding: 5px 30px;
    height: 50px;
    border: 1px solid var(--brand-btn-color);
    font-family: 'GT America Standard';
}
header > div > div:nth-child(2) > button:nth-child(2):hover {
    background-color: #fff;
    color: #000000;
    transition: 0.2s ease-in-out;
    border: 1px solid #fff;
}

/* main */

main {
    position: relative;
}
main > section {
    padding-top: 100px;
    background-color: #dadbf1;
    width: 100%;
    height: 300px;
    z-index: 100;
}

main > section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section > div > span {
    color: #000000;
    font-size: 65px;
    font-weight: bolder;
}
main > section > div > input[type='text'] {
    width: 750px;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 60px;
    margin-top: 50px;
    padding-left: 15px;
    font-size: 20px;
}
main > section > div > input[type='text']:focus {
    border: 1px solid var(--brand-btn-color);
    outline: none;
}

main > .container {
    padding: 70px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

main > .container > .containerWrap {
    display: flex;
    margin-top: 50px;
    padding: 70px 70px;
}
main > .container > .containerWrap > img {
    width: 78px;
    height: 78px;
}
main > .container > .containerWrap > div {
    padding-left: 20px;
}
main > .container > .containerWrap > div > h2,
p {
    margin-bottom: 20px;
}
main > .container > .containerWrap > div > p {
    font-size: 24px;
}
main > .container > .containerWrap > div > a {
    cursor: pointer;
    font-size: 20px;
    color: var(--brand-btn-color);
}
main > .container > .containerWrap > div > a:hover {
    border-bottom: 2px solid var(--brand-btn-color);
}

footer {
    position: relative;
    background-color: var(--head-footer-color);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 100px 200px 100px;
    overflow: hidden;
}
footer > div:first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}
footer > div:first-child > ul {
    position: relative;
}
footer > div:first-child > ul > h2 {
    margin-bottom: 20px;
}
footer > div:first-child > ul > li {
    margin-top: 10px;
    cursor: pointer;
}
footer > div:first-child > ul > li > span {
    font-size: 16px;
}
footer > div:first-child > ul > li:hover span {
    border-bottom: 1px solid #fff;
}

footer > div:first-child > ul > div {
    position: absolute;

    bottom: -30px;
}
footer > div:first-child > ul > div > h4 {
    margin-bottom: 8px;
}
footer > div:first-child > ul > div > span {
    font-size: 14px;
}
footer > div:nth-child(2) {
    position: relative;
}
footer > div:nth-child(2) > ul {
    position: absolute;
    bottom: -80px;
    right: 0;
}
footer > div:nth-child(2) > ul > li > span {
    font-size: 20px;
}
